@import './variables';

.card {
  width: 180px;
  height: 100px;
  border-radius: 4px;
  background-color: $white;
  margin: 16px 30px 0 0;
}

.number_circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid $orange;
  color: $black-text;
  text-align: center;

  font: 16px;
}

.pagination {
  background-color: $white;
  display: flex;
  justify-content: center;
  height: 20px;
  max-width: 660px;
  li {
    margin: 0 5px;
    border: none;
  }
  li.active{
    color: $teal;
  }
}
