@import './variables';

:root {
  padding: 0;
  margin: 0;
  overflow: hidden;

  --spacing-unit: 6px;
}

body,
html {
  margin: 0;
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.txt-center {
  text-align: center;
}

.relative {
  position: relative;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.m-auto-0 {
  margin: auto 0;
}

.m-0-auto {
  margin: 0 auto;
}

h1 {
  font-size: 3.45rem;
  font-weight: 700;
  color: $white;
  margin: 22px 0;
}

h3 {
  font-size: 2rem;
  margin: 14px 20px;
  color: $orange;
  font-weight: 600;
}

h4 {
  padding-top: 10px;
}

h6 {
  font-size: 0.8rem;
  margin: 9px 8px;
  color: $orange;
}

img {
  padding: 0 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  border-radius: 4px;
  padding: 9px;
  width: 160px;
  white-space: nowrap;
  background-color: $teal;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: lighten($teal, 7%);
  }
}

button:active {
  box-shadow: 0 0 0 $white;
  margin: 3px 5px 2px 5px;
}
